<sexport>
	<wii>
		<output path="$(SEEDSDK)/scroller/workdir/data" />
		<image input="$(SEEDSDK)/scroller/assets" res_height="600" res_width="800" />
		<music input="$(SEEDSDK)/scroller/assets" />
		<sound input="$(SEEDSDK)/scroller/assets" />
	</wii>
	<iph>
		<output path="$(SEEDSDK)/scroller/workdir/data" />
		<image input="$(SEEDSDK)/scroller/assets" res_height="600" res_width="800" />
		<music input="$(SEEDSDK)/scroller/assets" />
		<sound input="$(SEEDSDK)/scroller/assets" />
	</iph>
	<sdl>
		<output path="$(SEEDSDK)/scroller/workdir/data" />
		<image input="$(SEEDSDK)/scroller/assets" res_height="600" res_width="800" />
		<music input="$(SEEDSDK)/scroller/assets" />
		<sound input="$(SEEDSDK)/scroller/assets" />
	</sdl>
</sexport>
